<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This page can display information about the Photon Factory.
  Useful for clients, staff, and the public. 

	To do:
	STEPPING STONES:
	Admins creating accounts.
	Home page is just a log in button with minor styling (no info public facing)
	Safety information (gather, write, and publish)
	
	Set up a terminal in the lab that opens chrome with this website as the homepage (maybe have a lab/guest login automatically)
	
	
	BIG GOALS:
	Safety info
	Chat room
	Equipment booking service
	Database -> Useful parameters (public facing)
	Link to AucklandUni HR webpage
</p>