<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Welcome! Many exciting features will soon be available on this website for Photon Factory staff. 
  Our aim is to build tools for organisation, communication, and fun!
</p>

</ul>
