<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>

	The contact list of Photon Factory staff can be found 
	<a href="https://drive.google.com/file/d/0BwhHSYTjcsmfdkgyRlBncHdHeFk/view?usp=sharing">
	here</a>.
</p>
<p>
  Contact the website administrator at rmac460@aucklanduni.ac.nz
</p>