<div class="center jumbotron">
  <h1>Welcome to the Photon Factory</h1>

  <h2>
    Might make the webpage anon so that it is not in the publics eye.
    Only staff will have accounts and log in. 
  </h2>

  <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>