<!-- source: http://railscasts.com/episodes/362-exporting-csv-and-excel?view=asciicast -->

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Check In Time</Data></Cell>
        <Cell><Data ss:Type="String">Check Out Time</Data></Cell>
        <Cell><Data ss:Type="String">Seconds Elapsed</Data></Cell>
      </Row>
    <% @time_punches.each do |time_punch| %>
      <Row>
        <Cell><Data ss:Type="String"><%= time_punch.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= time_punch.check_in %></Data></Cell>
        <Cell><Data ss:Type="String"><%= time_punch.check_out %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= time_punch.seconds_elapsed %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>